.skeleton-card {
    pointer-events: none;
}

.skeleton-image,
.skeleton-title,
.skeleton-intro,
.skeleton-button {
    background-color: #e2e2e2;
    border-radius: 8px;
    animation: shimmer 1.5s infinite linear;
    background-image: linear-gradient(to right,
            #e2e2e2 0%,
            #f0f0f0 20%,
            #e2e2e2 40%,
            #e2e2e2 100%);
    background-size: 1000px 100%;
}

.skeleton-image {
    width: 100%;
    height: 200px;
}

.skeleton-title {
    width: 80%;
    height: 20px;
    margin: 10px 0;
}

.skeleton-intro {
    width: 100%;
    height: 40px;
}

.skeleton-button {
    width: 100px;
    height: 36px;
    margin-top: auto;
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }

    100% {
        background-position: 1000px 0;
    }
}