.flyer-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.flyer-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
}

.flyer-content img {
    max-width: 100%;
    border-radius: 10px;
}

.flyer-content h3 {
    margin-top: 10px;
    font-size: 1.5em;
}

.flyer-content p {
    font-size: 1em;
    margin: 10px 0;
}

.flyer-content button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #baa418;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    font-size: 1.1rem;

}

.flyer-content button:hover {
    background: #cfb71a;
}

.button-flyer-wpp {
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 0;
    border: 2px solid #19cf40;
    border-radius: 5px;
    color: #19cf40;
    font-size: 1.1rem;
    transition: .3s;
}

.button-flyer-wpp:hover {
    border: 2px solid #19cf40;
    border-radius: 5px;
    color: #19cf40;
    background-color: rgb(31, 30, 30);
}